<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Round About - Start Bootstrap Template</title>

  <!-- Bootstrap Core CSS -->
  <link href="css/bootstrap.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="css/round-about.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
  <div class="panel panel-default">
    <div class="panel-body">
      <h1>
      Which is your Era Aesthetic?
    </h1>
    </div>
  </div>
    <form method=POST action="/findera">
      <div class="row">
        <div class="col-md-6">
          <h1>
            1.Which outfits do you like the most?
          </h1>

          <img src="http://images.mentalfloss.com/sites/default/files/styles/article_640x430/public/mom_jeans_0.jpg">
          <input type="radio" name="outfit" value="nine" checked> Baggy <br>
          <img src="https://www.tripigator.com/blog/wp-content/uploads/2014/10/varkala-hippies.jpg">
          <input type="radio" name="outfit" value="fifty" checked> Loose <br>
          <img src="https://s-media-cache-ak0.pinimg.com/736x/c8/3c/b2/c83cb2ed99f18ae3a3666e631846e4dc.jpg">
          <input type="radio" name="outfit" value="seven" checked> Formal <br>
          <img src="https://media1.popsugar-assets.com/files/thumbor/leSpdy90Ar-J8szi64WgWgEzX9A/fit-in/1024x1024/filters:format_auto-!!-:strip_icc-!!-/2012/07/29/2/192/1922564/af911a8619be5e41_tumblr_m5q8w1DymC1r06q46o1_1280/i/Versace-Girls.jpg">
          <input type="radio" name="outfit" value="eight" checked> Colorful
        </div>

    <div class="col-md-6">
          <h1>
          2.What music genre do you like more?
        </h1>
            <img src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/dab60014173919.5627ed2969976.png">
            <input type="radio" name="music" value="eight" checked> Rock <br>
            <img src="https://s-media-cache-ak0.pinimg.com/736x/92/7e/b4/927eb41456608113310ce683cc68a050.jpg">
            <input type="radio" name="music" value="fifty" checked> Blues <br>
            <img src="https://s-media-cache-ak0.pinimg.com/originals/1a/cb/a8/1acba805c0bb95d8e8d204659e76a299.jpg">
            <input type="radio" name="music" value="seven" checked> Indies <br>
            <img src="http://media.tumblr.com/f591f290ba109223fdf4e7daf525b329/tumblr_inline_mg69ueU3eI1qc8pfa.jpg">
            <input type="radio" name="music" value="nine" checked> Rap
          </div>
      </div>
 
        <div class="row">
          <div class="col-md-6">
             <h1>
               3.Which artist do you prefer?
            </h1>
            <img src="http://images.nymag.com/arts/popmusic/features/tupacbiggie110711_560.jpg">
            <input type="radio" name="artist" value=9 checked> Tupac and Biggie <br>
            <img src=" http://data.whicdn.com/images/76081507/large.jpg">
            <input type="radio" name="artist" value=8 checked> Rolling Stones <br>
            <img src="http://img.new.livestream.com/accounts/00000000004d6394/0d593fe9-f214-4c3f-8822-549cfff6dcd9.jpg">
            <input type="radio" name="artist" value=5 checked> Elvis <br>
            <img src="http://www.retromusic.com.au/images/ThemeImages/70s-Disco54.jpg">
            <input type="radio" name="artist" value=7 checked> 70's Icons <br>
      </div>
     
          <div class="col-md-6">
            <h1>
              4.Which room do you prefer?
            </h1>
            <img src="https://1.bp.blogspot.com/-f0wBOwhgQNc/ULUUgfvzJII/AAAAAAAAGEE/O8U9nTh3kP4/s1600/hippie+bedrooms-tie+dye+bedding-tie+dye+bedrooms.jpg">
            <input type="radio" name="room" value="seven" checked> 70's <br>
            <img src="https://1.bp.blogspot.com/-WU6CcJvumho/UU21CaITR9I/AAAAAAAANyY/8827C3Dblow/s1600/elvis+presley+theme+bedrooms+decorating+ideas-elvis+presley+theme+bedrooms+decorating+ideas.jpg">
            <input type="radio" name="room" value="fifty" checked> 50's <br>
            <img src="https://s-media-cache-ak0.pinimg.com/originals/bf/23/2d/bf232d792a3d395b54c2bec3047aed5c.jpg">
            <input type="radio" name="room" value="eight" checked> 80's <br>
            <img src="http://huckcdn.lwlies.com/admin/wp-content/uploads/2016/02/Fred-H.jpg">
            <input type="radio" name="room" value="nine" checked> 90's <br>
          </div>
        </div>
 
    <div class="row">
      <div class="col-md-6">
       <h1>
         5.Which cartoon do you prefer?
        </h1>
        <img src="https://cdn.shopify.com/s/files/1/0342/0081/files/the-80s_grande.jpg?64">
        <input type="radio" name="cartoon" value="seven" checked> 70's <br>
        <img src="https://www.wired.com/wp-content/uploads/blogs/geekdad/wp-content/uploads/2009/05/smc1960s-210x300.jpg">
        <input type="radio" name="cartoon" value="fifty" checked> 50's <br>
        <img src="https://s-media-cache-ak0.pinimg.com/736x/11/ef/86/11ef86d649709795149803013c1f28a9.jpg">
        <input type="radio" name="cartoon" value="eight" checked> 80's <br>
        <img src="https://i.ytimg.com/vi/OPWzESPlk0E/maxresdefault.jpg">
        <input type="radio" name="cartoon" value="nine" checked> 90's 
      </div>

        <div class="col-md-6">
            <h1>
         6. Best Movie Clique?
          </h1>
            <img src="https://s-media-cache-ak0.pinimg.com/originals/5a/38/93/5a3893b5ed32eadd2920ef36ef5d8ef0.jpg">
            <input type="radio" name="clique" value=14 checked> The Outsiders <br>
            <img src="http://cdn.playbuzz.com/cdn/a07fb987-ec43-4235-918d-88850c90e967/227d9972-a9ec-4cb5-ba37-4a3b93446153.jpg">
            <input type="radio" name="clique" value=16 checked> Heathers <br>
            <img src="https://s-media-cache-ak0.pinimg.com/originals/a1/d3/5e/a1d35efa3e6cf023a5eca106e9a69b01.jpg">
            <input type="radio" name="clique" value=10 checked> Pink Ladies <br>
            <img src="http://images.mentalfloss.com/sites/default/files/styles/article_640x430/public/clueless.png">
            <input type="radio" name="clique" value=18 checked> Clueless <br>
          </div>
        </div>

    <div class="row">
      <div class="col-md-6">
       <h1>
         7.Which car do you prefer?
        </h1>
        <img src="http://pictures.topspeed.com/IMG/crop/201106/the-best-muscle-cars-5_600x0w.jpg">
        <input type="radio" name="car" value=21 checked> 70's <br>
        <img src="http://www.oldcarbrochures.com/static/NA/Mercury/1955%20Mercury/1955%20Mercury.jpg">
        <input type="radio" name="car" value=15 checked> 50's <br>
        <img src="http://automobilesdeluxe.tv/wp-content/uploads/blogger/x/blogger/5807/1885/1600/439390/Benz%20W126.jpg">
        <input type="radio" name="car" value=24 checked> 80's <br>
        <img src="https://i.kinja-img.com/gawker-media/image/upload/s--kfgOLCqc--/c_scale,f_auto,fl_progressive,q_80,w_800/18n8a01g3om59jpg.jpg">
        <input type="radio" name="car" value=27 checked> 90's 
        <input type="submit">admin
      </div>

       <div class="col-md-6">
         <h1>
         8. Which favorite accessory?
          </h1>
            <img src="https://s-media-cache-ak0.pinimg.com/236x/32/76/0d/32760dcdfab703cce12e922fc033db42.jpg">
            <input type="radio" name="accessory" value="seven" checked> 70's <br>
            <img src="https://secure.polyvoreimg.com/cgi/img-thing/size/l/tid/63451571.jpg">
            <input type="radio" name="accessory" value="fifty" checked> 50's <br>
            <img src="https://usercontent1.hubstatic.com/8531974_f260.jpg">
            <input type="radio" name="accessory" value="eight" checked> 80's <br>
            <img src="https://s-media-cache-ak0.pinimg.com/originals/9b/6a/f4/9b6af40942a21782318e48f80a719b0f.jpg">
            <input type="radio" name="accessory" value="nine" checked> 90's <br>
          </div>
        </div>
      
        </form>
      </div>
    </div>
</html>